<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Timetabler.PdfExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Timetabler.PdfExport.Properties.Settings>
            <setting name="FontFolder" serializeAs="String">
                <value>.\Content\Fonts</value>
            </setting>
            <setting name="SerifRomanFace" serializeAs="String">
                <value>CharisSIL-R.ttf</value>
            </setting>
            <setting name="SerifItalicFace" serializeAs="String">
                <value>CharisSIL-I.ttf</value>
            </setting>
            <setting name="SerifBoldFace" serializeAs="String">
                <value>CharisSIL-B.ttf</value>
            </setting>
            <setting name="SerifBoldItalicFace" serializeAs="String">
                <value>CharisSIL-BI.ttf</value>
            </setting>
            <setting name="SansRomanFace" serializeAs="String">
                <value>Heebo-Regular.ttf</value>
            </setting>
            <setting name="SansBoldFace" serializeAs="String">
                <value>Heebo-Bold.ttf</value>
            </setting>
        </Timetabler.PdfExport.Properties.Settings>
    </userSettings>
</configuration>