<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Timetabler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="f1" xsi:type="File" fileName="log.txt" deleteOldFileOnStartup="true" layout="${longdate}|${level:uppercase=true}|${message}|${logger}|${exception:innerFormat=ShortType,Message,Method,StackTrace:maxInnerExceptionLevel=5:format=ShortType,Message,Method,StackTrace}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="f1"/>
    </rules>
  </nlog>
  <applicationSettings>
    <Timetabler.Properties.Settings>
      <setting name="FontFolder" serializeAs="String">
        <value>.\Content\Fonts</value>
      </setting>
      <setting name="SerifRomanFace" serializeAs="String">
        <value>CharisSIL-R.ttf</value>
      </setting>
      <setting name="SerifItalicFace" serializeAs="String">
        <value>CharisSIL-I.ttf</value>
      </setting>
      <setting name="SerifBoldFace" serializeAs="String">
        <value>CharisSIL-B.ttf</value>
      </setting>
      <setting name="SerifBoldItalicFace" serializeAs="String">
        <value>CharisSIL-BI.ttf</value>
      </setting>
      <setting name="SansRomanFace" serializeAs="String">
        <value>Heebo-Regular.ttf</value>
      </setting>
      <setting name="SansBoldFace" serializeAs="String">
        <value>Heebo-Bold.ttf</value>
      </setting>
    </Timetabler.Properties.Settings>
  </applicationSettings>
</configuration>
