<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="f1" xsi:type="File" fileName="log.txt" deleteOldFileOnStartup="true" layout="${longdate}|${level:uppercase=true}|${message}|${logger}|${exception:innerFormat=ShortType,Message,Method,StackTrace:maxInnerExceptionLevel=5:format=ShortType,Message,Method,StackTrace}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="f1"/>
    </rules>
  </nlog>
</configuration>
